.u-section-1 .u-sheet-1 {
  min-height: 271px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 190px;
  background-image: url("images/Artboard1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 17px 101px 0 66px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 18px 882px 0 78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-image-1 {
    min-height: 157px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 760px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-image-1 {
    min-height: 120px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-image-1 {
    min-height: 90px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 160px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-2 .u-text-1 {
  margin: 46px 93px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 93px 0 0;
}

.u-section-2 .u-text-3 {
  text-align: left;
  margin: 37px 93px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-align: left;
  margin: 20px 93px 37px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1578px;
}

.u-section-3 .u-text-1 {
  text-align: left;
  margin: 3px 93px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-align: left;
  margin: -9px 112px 0 0;
}

.u-section-3 .u-image-1 {
  width: 793px;
  height: 418px;
  margin: 78px auto 0 0;
}

.u-section-3 .u-text-3 {
  text-align: left;
  margin: 136px 93px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-align: left;
  margin: 37px 112px 0 0;
}

.u-section-3 .u-image-2 {
  width: 632px;
  height: 352px;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 380px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 285px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 179px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 190px;
  }
} .u-section-4 {
  min-height: 617px;
}

.u-section-4 .u-sheet-1 {
  min-height: 1333px;
}

.u-section-4 .u-text-1 {
  text-align: left;
  margin: 19px 93px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-align: left;
  margin: 20px 93px 0 0;
}

.u-section-4 .u-text-3 {
  text-align: left;
  margin: 55px 93px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-align: left;
  margin: 19px 93px 0 0;
}

.u-section-4 .u-text-5 {
  text-align: left;
  margin: 85px 93px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-align: left;
  margin: 11px 93px 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 323px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-7 {
  text-align: left;
  font-style: italic;
  margin: 35px 93px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-5 .u-text-1 {
  text-align: left;
  margin: 64px 93px 0 0;
}

.u-section-5 .u-text-2 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 26px 112px 0 0;
}

.u-section-5 .u-video-1 {
  height: 505px;
  width: 897px;
  margin: 21px auto 0 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-5 .u-text-3 {
  text-align: left;
  margin: 76px 93px 0 0;
}

.u-section-5 .u-text-4 {
  text-align: left;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px 112px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .embed-responsive-1 {
    left: -56%;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-5 .u-video-1 {
    height: 405px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-5 .u-video-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-5 .u-video-1 {
    height: 191px;
    width: 340px;
  }
}