 .u-section-1 {
  background-image: url("images/Untitled-1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 47px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-1 .u-text-1 {
  text-align: center;
  margin: 0 auto 0 372px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 210px;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 30px;
}

.u-section-1 .u-text-2 {
  text-align: center;
  margin: 0 156px 0 102px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 302px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 173px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 63px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2846px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 101px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 192px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1792px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 118px;
  }
} .u-section-2 {
  background-image: url("images/Untitled-1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-gallery-1 {
  height: 590px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 2.25s;
}

.u-section-2 .u-over-slide-1 {
  transition-duration: 2.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 2.25s;
}

.u-section-2 .u-over-slide-2 {
  transition-duration: 2.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 2.25s;
}

.u-section-2 .u-over-slide-3 {
  transition-duration: 2.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 2.25s;
}

.u-section-2 .u-over-slide-4 {
  transition-duration: 2.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 2.25s;
}

.u-section-2 .u-over-slide-5 {
  transition-duration: 2.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 2.25s;
}

.u-section-2 .u-over-slide-6 {
  transition-duration: 2.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-gallery-1 {
    height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-gallery-1 {
    height: 838px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2410px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2514px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1583px;
  }
} .u-section-3 {
  background-image: url("images/Untitled-1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 575px;
}

.u-section-3 .u-gallery-1 {
  height: 299px;
  grid-gap: 17px;
  margin: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 2.25s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  transition-duration: 2.25s;
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 2.25s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  transition-duration: 2.25s;
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 2.25s;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  transition-duration: 2.25s;
  padding: 20px;
}

.u-section-3 .u-social-icons-1 {
  height: 34px;
  min-height: 16px;
  width: 134px;
  min-width: 80px;
  white-space: nowrap;
  margin: 218px auto 24px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-gallery-1 {
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-3 .u-gallery-1 {
    height: 568px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2339px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1278px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1468px;
  }

  .u-section-3 .u-gallery-1 {
    height: 805px;
    margin-right: initial;
    margin-left: initial;
  }
}